[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
notebook = "*"

[packages]
psycopg2 = "*"
newspaper3k = "*"
tqdm = "*"
beautifulsoup4 = "*"
selenium = "*"
nltk = "*"
spacy = "*"
colorama = "*"
textblob = "*"
numpy = "*"

[requires]
python_version = "3.8"
